#main
{
	width: 1000px;
	margin: auto;
	border-style: solid;
	border-radius: 15px;
	height: 700px;
	margin-top: 10px;
	background-color: #acb3b4;
	opacity: .8;
}

#text
{
	width: 50em;
	margin: auto;
}

h1
{
	text-align: center
}

#pics
{
	margin: auto;
	width: 700px;
}


#main img
{
	width: 300px;
	position: relative;
	float: center;
	margin: 20px;
	border-style: solid;
	border-radius: 15px;
}


