#main
{
	width: 1400px;
	margin: auto;
}

#main div
{
	position: relative;
	float: left;
	padding: 10px;
	border-style: solid;
	border-radius: 15px;
	margin: 20px;
	text-align: center;
}

#main div img
{
	width: 280px;
	height: 400px;
}

#main a
{
    color: blue;
}

#main a:visited
{
    color: blue;
}

p
{
    font-size: 23px;
}
