.inner
{
	width: 1000px;
	margin: auto;
	height: 100%;
}

#top
{
	height: 60px;
	margin: auto;
	margin-bottom: 0px;
}

#Logo
{
	position: relative;
	float: left;
}

#Logo img
{
	height: 80%;	
	margin-top: 7px;
}

#NavBar
{
	position: relative;
	float: right;
}

#NavBar a
{
	float: right;
	display: inline-block;
	text-decoration: none;
	color: white;
	font-weight: bold;
	font-size: 13px;
	width: 100px;
	text-align: center;
	height: 100%;
	border-right: solid;
	border-color: gray;
	border-radius: 15px;
	padding-top: 4px;
}

#NavBar a:hover
{
	color: #11B;
}

#NavBar input
{
	/*margin: 9px;*/
}
