#super
{
	width: 1000px;
	margin: auto;
	height: 700px;
	border-radius: 10px;
	background-color: #acb3b4;
	opacity: .8;
	padding: 10px;
	border-style: solid;
}

#main
{
	height: 400px;
}

#main h1
{
	text-align: center;
	width: 1000px;
}

#main_image
{
	position: relative;
	float: left;
	width: 500px;
	margin: auto;
	padding-left: 20px;
}

#main_image img
{
	width: 450px;
}

#main_right
{
	position: relative;
	float: left;
	width: 420px;
	text-align: left;
	font-size: 16px;
	color: black;
	text-align: center;
}

#main_right ul
{
	/*border-style:solid;*/
	margin-bottom: 30px;
}

#main_right ul li
{
	padding: 5px;
	text-align: left;
}

#main_right a
{
	text-decoration: none;
	color: white;
	font-weight: bold;
	font-size: 15px;
	text-align: center;
	margin-top: 2px;
	border-style: solid;
	border-radius: 15px;
	border-color: green;
	padding: 10px;
	padding-left: 50px;
	padding-right: 50px;
	background-color: green;
}

#main_right a:hover
{
	background-color: #00FF00;
	border-color: #00FF00;
}
