#bottom
{
	height: 300px;
	margin-top: 3px;
}


#bottom .inner div
{
	float: left;
	width: 330px;
	height: 250px;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 12px;
	margin-left: 0px;
}

#bottom_left, #bottom_center
{
	border-right: solid;
	border-size: 2px;
	margin-right: 0px;
}

#bottom div img
{
	width: 250px;
	height: 160px;
}
