#bottom
{
	width: 1400px;
	margin: auto;
}

#bottom div
{
	float: left;
	border-style: solid;
	border-radius: 15px;
	width: 440px;
	text-align: center;
	margin: 10px;
	height: 400px;
	background-color: gray;
}

#bottom div img
{
	width: 430px;
	height: 300px;
}
