#main
{
	width: 1000px;
	margin: auto;
	background-color: #acb3b4;
	border-style: solid;
	border-radius: 15px;
	opacity: .8;
}

h1
{
	text-align: center;
}



#main table
{
    width: 100%;
    font-size: 20px;
}

#main td, #main th
{
    padding: 5px;
    border: solid;
    border-width: 2px;
	border-radius: 5px;
    text-align: center;
}


#main tr
{
    background-color: gray;
}

#main tr.alt
{
    background-color: white;
}





