body
{
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
    
}

#main
{
	width: 1400px;
	margin: auto;
	/*overflow: hidden;*/
	display:block;
}

#top
{
	width: 1400px;
	margin: auto;
}


#left
{
    width: 250px;
    margin-top: 150px;
    margin-left: 50px;
}

#score
{
    font-size: 50px;
}

#map
{
    width: 940px;
    height: 593px;
    margin-left: 350px;
    margin-top: -400px;
    float: left;
}

svg.state-map
{
    width: 100%
}
#candidates
{
    font-size: 20px;
    margin-top: 50px;
}


