#top
{
	height: 40px;
}

#Logo
{
	position: relative;
	float: left;
}

#NavBar
{
	position: relative;
	float: right;
}

#NavBar a
{
	text-decoration: none;
}

#page_title
{
    font-family: sans-serif;
    font-size: 20px;
    
}

#bottom
{
   display: block;
}

div.bottom_third
{
    width: 33%;
    float: left;
}

div.bottom_third img
{
    width: 100%;
}
