#top
{
	height: 40px;
	width: 1400px;
	background-color: gray;
	margin: auto;
	border-style: solid;
	border-radius: 10px;
}

#Logo
{
	position: relative;
	float: left;
}

#Logo img
{
	height: 100%;	
}

#NavBar
{
	position: relative;
	float: right;
	height: 100%;
}

#NavBar a
{
	float: right;
	display: inline-block;
	text-decoration: none;
	color: white;
	font-weight: bold;
	font-size: 15px;
	height: 25px;
	width: 130px;
	text-align: center;
	padding-top: 10px;
	border-style: solid;
	border-color: gray;
	border-radius: 10px;
	background-color: black;
}
