#signup, #login
{
	background-color: gray;
	width: 80%;
	height: 80%;
	position: fixed;
	top: 10%;
	left: 10%;
	display: none;
}

.forms 
{
	background-color: green;
	text-align: center;
}

.forms a
{
	float: right;
	color: black;
}


#check
{
	display: none;
}
