#signup, #login
{
	width: 1000px;
	height: 800px;
	position: relative;
	bottom: 800px;
	display: none;
	margin: auto;
}

.forms 
{	
	text-align: center;
	margin: auto;
	background-color: blue;
	height: 200px;
	border-style: solid;
	border-size: 10px;
	border-radius: 30px;
	border-color: black;
	color: white;
	font-weight: bold;
	padding: 100px;
}

.forms a
{
	float: left;
}


#check
{
	display: none;
}

.close_button
{
	width: 40px;
	position: relative;
	right: 10px;
	top: 25px;
}
